.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 220px;
}
.nameAndCaseList {
  display: flex;
  flex-direction: column;
}
.boxLists {
  display: flex;
  flex-direction: row;
}
.boxLists {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px 28px;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}
