.case{
  width: 150px;
  height: 30px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid black;
  margin: 5px;
}
.form input{
  width: 120px;
}