.setting{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.login {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: -4px;
}
.textLogin {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20px;
}
.boxLogin {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.menu{
  position: absolute;
  left: 2px;
  top: 0px;
  z-index: 6;
  transition-duration: 0.3s;
}

.menu:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.menuItem{
  height: 70px;
}
@media (max-width: 600px) {
  .textLogin {
    font-size: 2.5vw;
  }
  .login {
    font-size: 3.5vw;
    margin-bottom: 0;
  }
  .text {
    font-size: 3.5vw;
  }
}